@CHARSET "UTF-8";

body{
	background-image:url("../kuvat/ravintola_poyta.JPG");
	background-repeat:no-repeat;
	background-position:center; 
	background-attachment: fixed;
	background-color:#333;
	
}

h1{
  
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Merienda', cursive;
	font-size: 100px;
	font-family: 'Dancing Script', cursive;
    color: orange;
    text-align: center;
    
}

table{
	text-align:center;
	margin:auto;
}
/*###################pizza taulukko tyyliä######################################*/ 
#laatikko{
	background-color: rgba(150,150,150,0.8);
	text-align: center;
	font-family: 'Merienda', cursive;
	opacity:0,9;
	margin: auto;
	min-width: 300px;
	max-width: 40%;
	border-radius:0px;
	box-shadow: 0 0 200px #00000;
	padding: 10px;
	display:inline-block;
	
}

.taytenimi{
	color:rgba(50,50,50,1);
	font-family: 'Merienda', cursive;
}

#pizza{
	opacity:0.9;
	
	background-color:#646464;
	
}
#hinta{
	opacity:0.9;
	
	background-color:#646464;
}
#tilaa{
	opacity:0.9;

	background-color:#646464;
}


/*################################################*/

h2{
	text-align:center;
	font-family: 'Merienda', cursive;
}
pre{
	text-aling:center;
	font-family: 'Merienda', cursive;
}
.nav.navbar-nav li a {
    color: Lightgrey;
    font-family: 'Merienda', cursive;
}
.navbar .nav .active {
  color:Black;
  font-family: 'Merienda', cursive;
}


.active {
	
    background-color: orange; 
    font-family: 'Merienda', cursive;
}



/* ####################kolmen boxin USP:t ################################################*/

.usp{
	margin:auto;
	background-color: rgba(150,150,150,0.8);
	opacity:0.9;
	
	min-width: 300px;
	width: 40%;
	border-radius:10px;
	box-shadow: 0 0 200px #00000;
	padding: 10px;
}

.marginblock{
	margin:auto;
	text-align:center;
	
}

#laatikko1{
	display:inline-block;
	background-color: lightgrey;
	opacity:0.7;
	margin: auto;
	border-radius:10px;
	padding: 10px;
}








.clr{
    clear:both;
    font-family: 'Merienda', cursive;
    font-size:0;
}
#sosiaalinenmedia{
	overflow: auto;
	
}
#facebook{
	padding-top:5px;
	list-style-type: none;
	float: left;
}
#linkedin{
	padding-top:5px;
	list-style-type: none;
	float: left;
}

#twitter{
	padding-top:5px;
	list-style-type: none;
	float: left;
}

#googleplus{
	padding-top:5px;
	list-style-type: none;
	float: left;
}

ul li a i {
	background: #205D7A;
	font-family: 'Merienda', cursive;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
	transition: all 0.2s ease-in-out;
}
ul li a i:hover {
	opacity: .7;
	font-family: 'Merienda', cursive;
}


.fa-facebook {
	background:#3b5998
} 
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}
.fa-google-plus {
	background:#dd4b39
}
-------------------------------------------------- */
html {
  position: relative;
  font-family: 'Merienda', cursive;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Merienda', cursive;
}
.footer {
  position: fixed;
  font-family: 'Merienda', cursive;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #4b4b4b;
}

footer { 
    display: block;
    font-family: 'Merienda', cursive;
}
body > .container {
  padding: 60px 15px 0;
  font-family: 'Merienda', cursive;
}
.container .text-muted {
  margin: 20px 0;
  font-family: 'Merienda', cursive;
}

.footer > .container {
	float:left;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Merienda', cursive;
}

code {
  font-size: 80%;
  font-family: 'Merienda', cursive;
}

 td{
     color:black;
     font-family: 'Merienda', cursive;
 }
 
/*.login{
	
	display: block;
	font-family: 'Merienda', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
