@CHARSET "UTF-8";

body{
	background-image:url("../kuvat/ravintola_poyta.JPG");
	background-repeat:no-repeat;
	background-position:center; 
	background-attachment: fixed;
	background-color:#333;
	
}

h1{
  
	text-shadow: 2px 2px 4px #000000;
	font-size: 100px;
	font-family: 'Dancing Script', cursive;
    color: orange;
    text-align: center;
    
}
#laatikko{
	background-color: rgba(150,150,150,0.8);
	opacity:0.9;
	margin: auto;
	min-width: 300px;
	width: 40%;
	border-radius:10px;
	box-shadow: 0 0 200px #00000;
	padding: 10px;
	
	
}
h2{
	text-align:center;
}
pre{
	text-aling:center;
}
.nav.navbar-nav li a {
    color: Lightgrey;
}
.navbar .nav .active {
  color:Black;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left:160px;
    max-width:83%;
   
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

/*
li a:hover {
    background-color: #111;
}*/

.active {
	
    background-color: orange; 
}

.taytenimi{
	color:rgba(50,50,50,1);
}
#footer {
   position:absolute;
   bottom:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left:160px;
    max-width:83%;
   
}

.clr{
    clear:both;
    font-size:0;
}
#sosiaalinenmedia{
	overflow: auto;
	
}
#facebook{
	padding-top:5px;
	list-style-type: none;
	float: left;
}
#linkedin{
	padding-top:5px;
	list-style-type: none;
	float: left;
}

#twitter{
	padding-top:5px;
	list-style-type: none;
	float: left;
}

#googleplus{
	padding-top:5px;
	list-style-type: none;
	float: left;
}

ul li a i {
	background: #205D7A;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
	transition: all 0.2s ease-in-out;
}
ul li a i:hover {
	opacity: .7;
}


.fa-facebook {
	background:#3b5998
} 
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}
.fa-google-plus {
	background:#dd4b39
}
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #4b4b4b;
}

footer { 
    display: block;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
	float:left;
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

 td{
     color:black;
 }
 
/*.login{
	
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
