@CHARSET "UTF-8";

body{
	background-image:url("../kuvat/ravintola_poyta.JPG");
	background-repeat:no-repeat;
	background-position:center; 
	background-attachment: fixed;
	background-color:#333;
	
}

h1{
	
	font-size: 50px;
	font-family: 'Merienda', cursive;
	font-family: 'Dancing Script', cursive;
    color: orange;
    text-align: center;
	
}

ul {
    list-style-type: none;
    font-family: 'Merienda', cursive;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left:160px;
    max-width:83%;
   
}

li {
    float: left;
    font-family: 'Merienda', cursive;
}

li a {
    display: block;
    font-family: 'Merienda', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #a6a6a6;
    font-family: 'Merienda', cursive;
}

#footer {
   position:absolute;
   font-family: 'Merienda', cursive;
   bottom:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left:160px;
    max-width:83%;
   
}

#laatikko{
	background-color: lightgrey;
	font-family: 'Merienda', cursive;
	opacity:0.9;
	margin: auto;
	min-width: 300px;
	width: 40%;
	border-radius:25px;
	border-style:ridge;
	box-shadow: 0 0 200px #000000;
}

table{
	text-align:center;
	font-family: 'Merienda', cursive;
}
h2{
	text-align:center;
	font-family: 'Merienda', cursive;
}

#rek{
	text-aling: center;
	font-family: 'Merienda', cursive;
	color:black;
	margin: auto;   	 
    padding: 10px;
    margin-left: 200px;
}
.login{
	
	display: block;
	font-family: 'Merienda', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}