@CHARSET "ISO-8859-1";

body {
    
}


#taulukko{
	background-color: lightgreen;
	border-style: solid;
	border-radius: 30px;
	border-width: 1px;
	color: #5be65b;
	width: 300px;
	margin: auto;
}

#taulukko2 { /* pizzalistan tyyli */
	background-color: lightyellow;
	display: inline-block;
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	color: #fcd7b1;
	left: 0px;
	padding: 5px;
}

#taulukko3 { /* täytelistan tyyli */
	background-color: lightyellow;
	display: inline-block;
	text-align: center;
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	color: #fcd7b1;
	position: absolute;
	left: 600px;
	top: 5px; /* pakottaa yläreunaan */
	right: 5px;
	padding: 5px;
}

#taulukko4 { /* täytteen lisäyslomakkeen tyyli */
	background-color: lightyellow;
	display: inline-block;
	text-align: center;
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	color: #fcd7b1;
	position: absolute;
	top: 400px;
	left: 600px;
	right: 5px;
	padding: 5px;
}

#taulukko5 { /* pizzan lisäyslomakkeen tyyli */
	background-color: lightyellow;
	display: inline-block;
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	color: #fcd7b1;
	top: 450px;
	left: 10px;
	right: 200px;
	padding: 5px;
}

#container {
	position: relative;
	margin: auto;
	background-color: lightgray;
	border-radius: 30px;
	padding: 5px;
}

.taytenimi {
	color: red;
}

form{
	text-align: center;
	margin-top: 20px;
}

h1 {
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
    color: orange;
    text-align: center;
}

h2 {
	color: black;
	text-align: center;
}

h3 {
	color: black;
	font-size: 15px;
	
}

p {
	color: black;
    font-family: "Times New Roman";
    font-size: 20px;
}

td {
	color: black;
	font-size: 22px;
	vertical-align: top;
}

/* Dropdown checkbox */

.dropdown {
	height: 150px;
    overflow: scroll;
    width: 200px;
    margin: auto;
    overflow-x: hidden;
}

li {
	list-style-type:none;
	text-align: left;
}

ul {
	text-decoration: none;
	margin-left: -50px;
}

.mutliSelect {
}

/*-------------------*/