@CHARSET "UTF-8";

body{
	background-image:url("../kuvat/pizzauuni.JPG");
	background-repeat:no-repeat;
	background-position:center; 
	background-attachment: fixed;
	background-color:#333;
}


.laatikko {
	background-color: lightgrey;
	opacity:0.9;
	margin: auto;
	min-width: 550px;
	width: 40%;
	border-radius:25px;
	border-style:ridge;
	box-shadow: 0 0 200px #000000;
}

.taytenimi {
	color: rgba(150,150,150,1);
}

table {
	margin: auto;
}

form{
	text-align: center;
	/*margin-top: 20px;*/
}

h1 {
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
    color: orange;
    text-align: center;
}

h2 {
	color: black;
	text-align: center;
}

h3 {
	color: green;
	font-size: 20px;
	text-align: center;
	
	
}

p {
	color: black;
    font-family: "Times New Roman";
    font-size: 20px;
}

td {
	color: black;
	font-size: 22px;
	vertical-align: top;
}

/* Dropdown checkbox */

.dropdown {
	height: 150px;
    overflow: scroll;
    width: 200px;
    margin: auto;
    overflow-x: hidden;
}

li {
	list-style-type:none;
	text-align: left;
}

ul {
	text-decoration: none;
	margin-left: -50px;
}

#navul{
	  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left:160px;
    max-width:83%;
}

#navli{
	float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #a6a6a6;
}


.mutliSelect {
}

/*-------------------*/