@CHARSET "UTF-8";

body{
	background-image:url("../kuvat/ravintola_poyta.JPG");
	background-repeat:no-repeat;
	background-position:center; 
	background-attachment: fixed;
	background-color:#333;
}


.laatikko {
	background-color: rgba(150,150,150,0.8);
	font-family: 'Merienda', cursive;
	margin: auto;
	width: 80%;
	max-width: 700px;
	border-radius:5px;
	padding: 5px;
}

.taytenimi {
	color: rgba(50,50,50,1);
	font-family: 'Merienda', cursive;
	font-size: 18px;
}

table {
	margin: auto;
	font-family: 'Merienda', cursive;
}

form{
	text-align: center;
	font-family: 'Merienda', cursive;
	/*margin-top: 20px;*/
}

h1 {
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
    color: orange;
    text-align: center;
}

h2 {
	color: black;
	font-family: 'Merienda', cursive;
	text-align: center;
}

h3 {
	color: green;
	font-family: 'Merienda', cursive;
	font-size: 20px;
	text-align: center;
	
	
}

p {
	color: black;
	font-family: 'Merienda', cursive;
    font-size: 20px;
}

td {
	color: black;
	font-family: 'Merienda', cursive;
	font-size: 22px;
	vertical-align: top;
}

/* Dropdown checkbox */

.dropdown {
	height: 150px;
    overflow: scroll;
    width: 200px;
    margin: auto;
    overflow-x: hidden;
}

li {
	list-style-type:none;
	text-align: left;
	font-family: 'Merienda', cursive;
}

ul {
	text-decoration: none;
	font-family: 'Merienda', cursive;
	margin-left: -50px;
}
.login{
	
	display: block;
	font-family: 'Merienda', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navul{
	  list-style-type: none;
	  font-family: 'Merienda', cursive;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left:160px;
    max-width:83%;
}

#navli{
	float: left;
	font-family: 'Merienda', cursive;
}

li a {
    display: block;
    font-family: 'Merienda', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    font-family: 'Merienda', cursive;
}
.active {
    background-color: #a6a6a6;
    font-family: 'Merienda', cursive;
}


.mutliSelect {
}

/*-------------------*/